@font-face {
  font-family: "Mukta-Medium";
  src: url("../fonts/mukta/Mukta-Medium.ttf") format("true type");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("true type");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Great_Vibes-Regular";
  src: url("../fonts/vibes/GreatVibes-Regular.ttf") format("true type");
  font-style: normal;
  font-weight: normal; }
  .screen1{
    background-image: url(../images/image\ 10.png);
    background-size: cover;
  }
header {
  background-color: #090C0E; }
  header .container-fluid {
    padding-left: 0;
    position: relative; }
    header .container-fluid .name {
      color: #fff;
      font-size: 26px;
      font-weight: 400;
      font-family: 'Great Vibes', cursive;
      line-height: 32.55px;
      letter-spacing: 6%;
      margin-left: 15px; }
    header .container-fluid .menu {
      padding: 0 45px;
      position: fixed;
      background-color: #090C0E;
      width: 100%;
      z-index: 20000;
    }
      
    /* header .container-fluid #menu {
      display: flex; } */
      header .container-fluid #menu ul li {
        font-size: 18px;
        line-height: 20.25px;
        font-weight: 400;
        font-family: "Mukta-Medium", sans-serif;
        margin: 24px 24px; }
        header .container-fluid #menu ul li a {
          color: #fff; }
      header .container-fluid #menu ul .contact {
        margin-right: 0px !important; }

body {
  background-color: #E5E5E5; }
 .section1 .carusel .carousel-inner .carousel-item {
    color: #fff; }
   .section1 .carusel .carousel-inner .carousel-item .content1 {
      margin-top: 202px; }
     .section1 .carusel .carousel-inner .carousel-item .content1 h1 {
        font-size: 56px;
        text-transform: uppercase;
        font-family: "Mukta-Medium", sans-serif;
        font-weight: 400;
        line-height: 75.43px; }
   .section1 .carusel .carousel-inner .carousel-item .content2 h2 {
      font-family: "Mukta-Medium", sans-serif;
      font-size: 36px;
      font-weight: 500;
      line-height: 59.83px;
      text-transform: uppercase; }
   .section1 .carusel .carousel-inner .carousel-item .content2 .now {
      display: flex;
      justify-content: center; }
     .section1 .carusel .carousel-inner .carousel-item .content2 .now .btn {
        margin-top: 70px;
        padding: 7px 37px;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 200px;
        text-transform: uppercase;
        border: 3px solid#E9E9E9;
        border-radius: 32px; }

        .section1 .carusel .carousel-inner .carousel-item .content2 .now .btn > a {
           text-decoration: none;
           color: #fff;
        }
 .section1 .carusel .carousel-indicators {
    margin-bottom: 90px; }
   .section1 .carusel .carousel-indicators li {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 1px solid #fff;
      background-color: #ffffff;
      opacity: 0.7;
      margin: 0 5px; }
   .section1 .carusel .carousel-indicators .active {
      background-color: #DA802D; }
 .section1 .carusel .carousel-control-prev > .carousel-control-prev-icon, .section1 .carusel .carousel-control-next > .carousel-control-next-icon {
    background-image: none; }
    .section2{
       background-color: #000000;
    }
    .section2 h2 {
   padding: 140px 0 0 0;
  font-weight: 700;
  font-size: 130px;
  font-family: "Mukta-Medium";
color:#fff; }  .section2 .row {
  margin-right: 0; }
  .section2 .row{
     justify-content: space-around;
     margin-top: 110px;
     margin-bottom: 10px;
  }
  .section2 .row .col-4 h4 {
     font-size: 42px;
     color: #fff;
  }
 .section2 .row .col-4 p {
    margin-top: 16px;
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
   color: #a8a8a8; }
 .section2 .row .img1 {
    position: relative;
    margin-left: 57px;
    width: 416px;
    height: 529px; }
   .section2 .row .img1 .img2 {
      position: absolute;
      width: 358px;
      height: 456px;
      right: -68%;
      top: -13%; } .section3 h2 {
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 59.83px;
  font-weight: 700;
  font-family: "Mukta-Medium", sans-serif; }
  .section3 > .products >.card > .card-group > img{
     width: 100%;
     height: 230px;
  }
  .section3 > .products > .card > .card-group {
     display: block;
     text-align: center;
     padding-bottom: 80px;
  }
  .section3 > .products >.card > .card-group > a{
     text-decoration: none;
     color: #212529;
  }
  .section3 > .products >.card > .card-group > a >h4{
   margin-top: 16px;
   cursor: pointer;
}
  .section3 > .products >.card > .card-group > span{
      font-size: 16px;
  }
  .section3 > .products > .card > .card-group > .btn{
   border: 2px solid #212529;
   border-radius: 32px;
   background: #fff;
   font-size: 14px;
   color: #212529;
   letter-spacing: 1.4px;
   text-align: center;
   line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 32px;
    position: absolute;
    width: 180px;
    left: calc(50% - 90px);
    bottom: 17px;
    transition: all 400ms cubic-bezier(0.16, 0.84, 0.44, 1);
  }
  .section3 > .products > .card > .card-group > .btn:hover{
     color: #fff;
     background-color: #212529;
  }
  .section3 > .products {
   display: grid;
   /* grid-template-columns: repeat(3, 1fr);
   grid-auto-rows: minmax(300px, auto); */
   grid-column-gap: 30px;
   grid-row-gap: 30px;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   padding: 0 45px;
  }
  .section3 .line {
  content: "";
  background-color: #DA802D;
  display: block;
  width: 217px;
  height: 4px;
  margin: auto;
  margin-bottom: 50px; } .section3 ul a {
  font-size: 24px;
  font-weight: 500;
  font-family: "Mukta-Medium", sans-serif;
  font-style: normal;
  line-height: 40px;
  margin: 10px 40px 40px 40px;
  color: #000; } .section3 ul a:hover, .section3 ul a:focus {
  color: #DA802D; } .section3 .cake {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2rem;
  justify-content: space-between; }
 .section3 .cake img {
    width: 30%;
    height: 25%;
    margin: 1rem; }
 .section3 .cake .col-4 {
    margin-bottom: 30px; } .section4 h2 {
  margin-top: 100px;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 59.83px;
  font-weight: 700;
  font-family: "Mukta-Medium", sans-serif; } .section4 .line {
  content: "";
  background-color: #DA802D;
  display: block;
  width: 248px;
  height: 4px;
  margin: auto;
  margin-bottom: 80px; } 
  .weeding{
     height: 100vh;
     width: 100%;
     background-position: center, center;
     margin-top: 50px;
     display: flex;
     align-items: center;
  }
  .weeding__title{
   font-size: 110px;
   font-weight: 800;
   line-height: 125px;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 2px var(--white);
  }
  .weeding__cakes{
     background-color: #fff;
  }
  .weeding__cakes > h3{
     font-size: 72px;
     font-weight: 600;
     line-height: 80px;
     padding-top: 50px;
     margin-bottom: 30px;
  }

  .weeding__info{
     padding: 45px;
  }
  .weeding__info > h2{
     padding-left: 100px;
     padding-right: 100px;
  }
  /* .weeding__content{
   /* display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-auto-rows: 200px;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  }
  /* .weeding__content > ul{
     list-style: circle;
     padding-left: 25px;
     margin-top: 40px;

  }
  .weeding__content > ul > li{
    font-size: 22px;

} */ 
  
  /* .section4 #carusel {
   width: 53em;
   height: 28em;
   margin: 0 auto;
   position: relative; }
    .section4 #carusel ul li {
     width: 700px;
     height: 350px;
     background: #333;
     display: inline-block;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
     overflow: hidden; }
    .section4 #carusel ul .second > img,  .section4 #carusel ul .fourth > img, .section4 #carusel ul .fifth > img, .section4 #carusel ul .sixth > img,  .section4 #carusel ul .third > img,  .section4 #carusel ul .seventh > img {
     width: 100%;
     height: 100%; }
    .section4 #carusel ul .first > img {
     height: 100%;
     width: 100%; }
    .section4 #carusel ul .items {
     position: absolute; }
    .section4 #carusel ul .right-pos {
     opacity: .3;
     margin-left: 21em !important;
     z-index: 1000;
     -webkit-transform: scale(0.75);
     -moz-transform: scale(0.75);
     transform: scale(0.75); }
    .section4 #carusel ul .back-pos {
     margin-left: 2em !important;
     opacity: .05;
     -webkit-transform: scale(0.5);
     -moz-transform: scale(0.5);
     transform: scale(0.5); }
    .section4 #carusel ul .main-pos {
     margin-left: 2em !important;
     z-index: 3000; }
   .section4 #carusel ul .left-pos {
     opacity: .3;
     margin-left: -17em !important;
     z-index: 1000;
     -webkit-transform: scale(0.75);
     -moz-transform: scale(0.75);
     transform: scale(0.75); }  */
    .section5 h2 {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 59.83px;
  font-weight: 700;
  font-family: "Mukta-Medium", sans-serif; } .section5 .line {
  content: "";
  background-color: #DA802D;
  display: block;
  width: 198px;
  height: 4px;
  margin: auto;
  margin-bottom: 60px; } .section5 .row1 {
  margin: 0 !important; }
  .section5 > .row{
     padding: 0 25px 0 45px;
     width: 100%;
  }
  .section5 > .row > .col-5 > .info1, .section5 > .row > .col-5 > .info2, .section5 > .row > .col-5 > .info3{
     display: flex;
  }
  .section5 > .row > .col-5 img{
    margin-bottom: 18px;
    margin-right: 15px;
    width: 28px;
    height: 28.4px; 
}
.section5 .row .col-5 p {
   font-weight: 400;
   font-family: "Mukta-Medium", sans-serif;
   line-height: 26.59px;
   font-size: 16px; }
.section5 .row .col-7 .form-control {
   border-radius: unset;
   padding: 10px 20px;
   font-size: 18px;
   font-weight: 400;
   line-height: 29.92px;
   font-family: "Mukta-Medium", sans-serif; }
.section5 .row .col-7 .form-control:focus {
   outline: none;
   border-color: #fff;
   box-shadow: unset; } 
   .section5 .row .col-7 .btn-black {
      display: flex;
      justify-content: right; }
   .section5 .row .col-7 .btn-black .send {
      border-radius: unset;
      margin-top: 30px;
      margin-left: auto;
      background-color: #090C0E;
      color: #fff;
      padding: 5px 70px;
      text-align: right;
      font-size: 24px;
      font-weight: 400;
      font-family: "Mukta-Medium", sans-serif;
      line-height: 39.89px; } 
   
 /* .section5 .row1 img {
    margin-left: 65px;
    margin-bottom: 18px;
    margin-right: 15px;
    width: 32;
    height: 38.4px; }
 .section5 .row1 .col-4 .col1 {
    display: flex; }
   .section5 .row1 .col-4 .col1 p {
      margin: 0;
      font-weight: 400;
      font-family: "Mukta-Medium", sans-serif;
      line-height: 26.59px;
      font-size: 16px; }
 
   .section5 .row1 .col-6 .form-control {
      border-radius: unset;
      padding: 10px 20px;
      font-size: 18px;
      font-weight: 400;
      line-height: 29.92px;
      font-family: "Mukta-Medium", sans-serif; }
   .section5 .row1 .col-6 .form-control:focus {
      outline: none;
      border-color: #fff;
      box-shadow: unset; } .section5 .row2 {
  margin: 0 !important; }
 .section5 .row2 img {
    margin-left: 65px;
    margin-top: 15px;
    margin-right: 17px;
    width: 29;
    height: 30px; }
 .section5 .row2 .col-4 .col2 {
    display: flex; }
   .section5 .row2 .col-4 .col2 p {
      font-weight: 400;
      margin-top: 20px;
      font-family: "Mukta-Medium", sans-serif;
      line-height: 26.59px;
      font-size: 16px; }
   .section5 .row2 .col-6 .form-control {
      border-radius: unset;
      padding: 10px 20px;
      font-size: 18px;
      font-weight: 400;
      line-height: 29.92px;
      font-family: "Mukta-Medium", sans-serif; }
   .section5 .row2 .col-6 .form-control:focus {
      outline: none;
      border-color: #fff;
      box-shadow: unset; } .section5 .row3 {
  margin: 0 !important; }
 .section5 .row3 img {
    margin-left: 65px;
    margin-right: 17px;
    width: 29;
    height: 29px;
    margin-top: 32px; }
 .section5 .row3 .col-4 .col3 {
    display: flex; }
   .section5 .row3 .col-4 .col3 p {
      margin-top: 30px;
      font-weight: 400;
      font-family: "Mukta-Medium", sans-serif;
      line-height: 26.59px;
      font-size: 16px; }
   .section5 .row3 .col-6 .form-control {
      border-radius: unset;
      padding: 10px 20px;
      font-size: 18px;
      font-weight: 400;
      line-height: 29.92px;
      font-family: "Mukta-Medium", sans-serif; }
   .section5 .row3 .col-6 .form-control:focus {
      outline: none;
      border-color: #fff;
      box-shadow: unset; }
   .section5 .row3 .col-6 .btn-black {
      display: flex;
      justify-content: right; }
     .section5 .row3 .col-6 .btn-black .send {
        border-radius: unset;
        margin-top: 30px;
        margin-left: auto;
        background-color: #222222;
        color: #fff;
        padding: 5px 70px;
        font-size: 24px;
        font-weight: 400;
        font-family: "Mukta-Medium", sans-serif;
        line-height: 39.89px; } */

footer {
  margin-top: 100px;
  background-color: #090C0E; }
  footer .container-fluid {
    padding: 0; }
    footer .container-fluid .menu {
      padding: 0 45px;
      display: flex;
      justify-content: space-between; }
      footer .container-fluid .menu .logo .name {
        color: #fff;
        font-size: 26px;
        font-weight: 400;
        font-family: 'Great Vibes', cursive;
        line-height: 32.55px;
        letter-spacing: 6%;
        margin-left: 15px; }
      footer .container-fluid .menu .developer h4 {
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        line-height: 32.55px;
        letter-spacing: 6%;
        font-family: "Mukta-Medium", sans-serif; }
      footer .container-fluid .menu ul li {
        font-size: 18px;
        line-height: 24.25px;
        font-weight: 400;
        font-family: "Mukta-Medium", sans-serif; }
        footer .container-fluid .menu ul li a {
          color: #fff;
          padding-top: 0;
          padding-bottom: 0; }
          footer .container-fluid .menu ul li a .instagram {
            width: 24.87px;
            height: 24.57px;
            margin: 20px 16px; }
          footer .container-fluid .menu ul li a .facebook {
            width: 26.17px;
            height: 26px;
            margin: 20px 16px; }
          footer .container-fluid .menu ul li a .twitter {
            width: 26.63px;
            height: 26px;
            margin: 20px 0 20px 16px; }

/* about section */
            
            .sliderBig__item > img, .slider__item > img {
               display: flex;
               width: 430px;
               height: 330px;
               margin-left: auto;
               margin-right: auto;
           }
           .sliderBig__item > img{
              width: 780px;
              height: 350px;
           }
           .slider__cake > .slick-list > .slick-track > .sliderBig__item > img {
               margin-left: auto;
               margin-right: auto;
           }

           .slider__cake > .slick-list > .slick-track > .slick-slide > img {
            display: flex;
            width: 200px;
            height:150px;
           }
           .main__cake{
              max-width: 100%;
           }
            .slick-track{
               display: flex;
            }
            .slick-list{
               overflow: hidden;
            }
            
            .slider, .slider__cake{
               position: relative;
            }
            .slider .slick-arrow, .slider__cake .slick-arrow{
               position: absolute;
               top: 50%;
               z-index: 10;
               font-size: 0;
               width: 30px;
               height: 60px;
               margin-top: -10px;
            }
            .slider .slick-arrow.slick-prev, .slider__cake .slick-arrow.slick-prev{
               left: 5px;
            }
            .slider .slick-arrow.slick-next, .slider__cake .slick-arrow.slick-next{
               right: 15px;
            }
 /* end about section */

/* product section */

            .product__page h2{
               padding-top: 140px;
               font-size: 80px;
               font-weight: 600;
            }
            .product__slider{
               display: flex;
               justify-content: space-evenly;
               margin: 10px 15px 50px;
            }
            .product__item{
               max-width: 650px;
            }
            .product__item > img{
               height: 300px;
            }
            .slick-slider{
               position: relative;
               padding: 15px 10px
            }
            .product__slider__info{
               max-width: 350px;
            }
            .product__slider__info h4{
               font-size: 36px;
               font-weight: 600;
            }
            .slick__btn{
               position: absolute;
               top: 50%;
               transform: translateY(-50%);
               border: none;
               background-color: transparent;
               z-index: 5;
               outline: none;
               cursor: pointer;
            }
            .product__item .slick-next{
               right: 38px;
            }
            .product__item .slick-prev{
               left: 38px;
            }
/* end product section */
.location__page{
   width: 100%;
   height: 100vh;
   background-position: center, center;
}
.location__page > h2{
   padding-top: 240px;
   font-size: 110px;
   font-weight: 800;
   line-height: 125px;
   letter-spacing: 30px;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 2px var(--white);
   
}
.location__info{
   padding: 45px;
   margin-top: 30px;
}
.location__content {
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
}
.location__content > h2{
   font-size: 92px;
}
.location__content > .detail{
   max-width: 500px;
}


/* contact__page */

/* end contact__page */
/*# sourceMappingURL.css.map */
